@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: unset;
  text-decoration: none;
}

.add-edit-page form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.products-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 30px;
  column-gap: 25px;
  margin-top: 50px;
}

.product-card-image {
  object-fit: contain !important;
}

.product-card-description {
  height: 40px;
  overflow: hidden;
}

.product-card-collapse {
  position: relative;
  top: 0;
}

.filters-block {
  display: grid;
  grid-template-columns: 250px 200px 200px 150px;
  column-gap: 25px;
  align-items: center;
  margin-top: 30px;
}

.filters-block button {
  margin-top: 15px;
}

.my-pagination {
  display: flex;
  justify-content: center;
  padding: 30px 0px;
}

.product-details {
  display: flex;
  margin-top: 30px;
}

.product-details img {
  width: 40%;
  height: 500px;
  object-fit: contain;
}

.product-details > div {
  width: 60%;
}

.product-details li {
  margin: 20px 5px;
  font-size: 20px;
}

.product-details li strong {
  width: 120px;
  display: inline-block;
}

.product-details h2 {
  font-size: 28px;
  margin-top: 0;
  margin-left: 20px;
}

.product-details-feedback h3 {
  font-size: 24px;
  text-align: center;
}

.product-details-feedback form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.product-details-feedback > div {
  max-width: 750px;
  width: 100%;
  margin: 0 auto;
}

.feedback {
  background-color: rgb(229, 229, 229);
  border-radius: 10px;
  padding: 10px;
  margin: 15px 0;
}

.feedback h5 {
  font-size: 20px;
  margin: 0;
}

.navbar a {
  margin-left: 50px;
}

.filters-block {
  width: 100%;
  background-color: rgb(238, 237, 237);
  height: 100px;
  display: flex;
}

.filters-block-category {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filters-block-category img {
  width: 40px;
}

.category {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.category:hover {
  color: blue;
}
.footer-block-leftside img {
  width: 100px;
}
.footer-block-leftside {
  margin-left: 100px;
}

.footer-block {
  width: 100%;
  height: 400px;
  background-color: rgb(238, 237, 237);
  display: flex;
  justify-content: space-between;
}

.footer-block-rightside {
  display: flex;
  height: 200px;
}
.footer-block-rightside-item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 40px 80px 0 0;
}

.bold {
  font-weight: 700;
}
.footer-block-leftside {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.footer-block-leftside-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.container {
  width: 1400px;
  margin: 0 auto;
}

.about-title {
  width: 1400px;
  margin: 0 auto;
  font-size: 32px;
  text-align: center;
  margin-top: 50px;
}

.about-image {
  width: 100%;
}

.about-title {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.servises-block {
  display: flex;
  width: 700px;
}

.info-about {
  display: flex;
  flex-direction: column;
  width: 700px;
}

.blocks {
  width: 350px;
  border: 1px solid;
  margin: 10px;
  border-radius: 10px;
}
