body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar a {
  margin-left: 50px;
}

.filters-block {
  width: 100%;
  background-color: rgb(238, 237, 237);
  height: 100px;
}

.filters-block-category {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.filters-block-category img {
  width: 40px;
}

.category {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.category:hover {
  color: blue;
}
.footer-block-leftside img {
  width: 60px;
}
